{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "@Components": "./src/Components",
          "@Ui": "./src/Ui",
          "@Context": "./src/Context",
          "@Style": "./src/Style"
        }
      }
    ]
  ]
}