// Second Content or Mini Project
header {
  width: 100%;
  line-height: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .1em;
  color: #fff;
  z-index: 3;
}