// Second Content or Mini Project
header {
  width: 100%;
  line-height: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 5vmin;
  font-weight: 400;
  letter-spacing: .1em;
  color: #fff;
  z-index: 3;
}

.cd-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 8rem;
}