$lightColor: #fff;
$darkColor: #091921;
$primary: #52a563;
$backgroundColor: $lightColor;
$foregroundColor: $darkColor;
$radialBGColor: radial-gradient(ellipse at bottom, $darkColor 0%, #090a0f 100%);

%boxshadowdark {
  box-shadow: -5px -5px 10px #061116,
              5px 5px 10px #0c212c;
  transition: box-shadow 650ms ease-in-out;
}

%boxshadowlight {
  box-shadow: 5px 5px 10px #c7cfd8,
              -5px -5px 10px #dbe5ee;
  transition: box-shadow 650ms ease-in-out;
}

%boxshadowUpandDown {
  box-shadow: 5px -5px 12px rgba(0,0,0,0.4),
              -5px 5px 12px rgba(0,0,0,0.4);
  transition: box-shadow 650ms ease-in-out;
}

%hoverboxshadow {
  box-shadow: 
    inset 9px 9px 18px #999999,
    inset -9px -9px 18px #ffffff;
}

// n of Stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

html,
body {
  background-color: $backgroundColor;
  color: $foregroundColor;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

// .swiper-container {
//   display: flex;
//   position: relative;
//   justify-content: center;
//   align-items: center;
// }

// .swiper-wrapper {
//   height: 100vh;
//   width: 100%;
// }

// .swiper-slide {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .main-container {
// }

// Banner Page
div.banner {
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, $darkColor 0%, #090a0f 100%);
  color: $lightColor;
  overflow: hidden;
}

div.banner-terminal {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
}

div.Typewriter {
  padding: 0 100px;
  font-family: 'Inconsolata', monospace;
  font-size: 5vmin;
}

span.dollar::before {
  content: '$';
  color: $primary;
}

// Stars
.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

// 2nd Page or Terminal Page
div.content {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background: $radialBGColor;
}

div.show-case {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

@media (max-width: 1350px) {
  div.Typewriter {
    padding: 0 90px;
  }
}

@media (max-width: 1200px) {
  div.Typewriter {
    padding: 0 80px;
  }
}

@media (max-width: 1000px) {
  div.Typewriter {
    padding: 0 70px;
  }
}

@media (max-width: 900px) {
  div.Typewriter {
    padding: 0 60px;
  }
}

@media (max-width: 800px) {
  div.Typewriter {
    // font-size: 3.3vw;
    padding: 0 50px;
  }
}


@media (max-width: 600px) {
  div.Typewriter {
    padding: 0 30px;
  }
}

@media (max-width: 500px) {
  div.Typewriter {
    padding: 0 20px;
  }
}

@media (max-width: 450px) {
  div.Typewriter {
    padding: 0 20px;
  }
}

@media (max-width: 350px) {
  div.Typewriter {
    padding: 0 20px;
  }
}
