@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|IBM+Plex+Sans:500&display=swap');

:root {
  --color-primary: #6B7A8F;
  --color-secondary: #101118;
  --color-accent: #1D1F2F;
  --color-focus: #273c75;
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

$lightColor: #fff;
$darkColor: #091921;
$primary: #52a563;
$backgroundColor: $lightColor;
$foregroundColor: $darkColor;
$radialBGColor: radial-gradient(ellipse at bottom, $darkColor 0%, #090a0f 100%);

%boxshadowdark {
  box-shadow: -5px -5px 10px #061116,
              5px 5px 10px #0c212c;
  transition: box-shadow 650ms ease-in-out;
}

%boxshadowlight {
  box-shadow: 5px 5px 10px #c7cfd8,
              -5px -5px 10px #dbe5ee;
  transition: box-shadow 650ms ease-in-out;
}

%boxshadowUpandDown {
  box-shadow: 5px -5px 12px rgba(0,0,0,0.4),
              -5px 5px 12px rgba(0,0,0,0.4);
  transition: box-shadow 650ms ease-in-out;
}

%hoverboxshadow {
  box-shadow: 
    inset 9px 9px 18px #999999,
    inset -9px -9px 18px #ffffff;
}

// n of Stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

html,
body {
  background-color: $backgroundColor;
  color: $foregroundColor;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

// Banner Page
div.banner {
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, $darkColor 0%, #090a0f 100%);
  color: $lightColor;
  overflow: hidden;
}

div.banner-terminal {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
}

div.Typewriter {
  padding: 0 100px;
  font-family: 'Inconsolata', monospace;
  font-size: 1.650em;
}

span.dollar::before {
  content: '$';
  color: $primary;
}

// Stars
.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

// 2nd Page or Terminal Page
div.content {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background: $radialBGColor;
}

div.show-case {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.terminal-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: $darkColor;
  width: 4rem;
  height: 3.5rem;
  z-index: 1;
  border-radius: .5rem;
  overflow: hidden;
  transition: 300ms;
  transition-property: box-shadow;
  animation-name: blowUp;
  animation-duration: 300ms;
}

.terminal-icon::before {
  content: '';
  height: 1rem;
  top: 1rem; 
  position: absolute;
  border-right: .4rem solid $lightColor;
  border-bottom: .4rem solid $lightColor;
  width: 1rem;
  transform: rotate(-45deg);
  z-index: 2;
  left: .2rem;
}

.terminal-icon::after {
  content: '';
  background: $lightColor;
  height: .4rem;
  width: 1.5rem;
  z-index: 3;
  position: absolute;
  top: 2.5rem;
  left: 1.8rem;
}

.terminal-icon:hover {
  box-shadow: inset 21px 21px 32px #111111,
              inset -21px -21px 32px #454545
}

// Slide Section
h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

.visuallyhidden { 
  clip: rect(1px, 1px, 1px, 1px);  
  height: 1px; 
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}


// =========================
// Icons
// =========================

.icon {
  fill: var(--color-primary);
  width: 100%;
}


// =========================
// Buttons
// =========================

.btn {
  background: $darkColor;
  border: none;
  border-radius: 0.125rem;
  color: $lightColor;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem 2.5rem 1.125rem;
  text-decoration: none;
  transition-duration: 250ms;
  transition-property: outline, background;
  transition-timing-function: ease-in;
  
  &:hover {
    background: var(--color-focus);
    outline-color: $darkColor;
    outline-offset: -6px;
  }

  &:focus {
    box-shadow: 
      inset 0 0 0 2px $lightColor,
      inset 0 0 0 10px $darkColor;
  }
}


// =========================
// Slider controls
// =========================

.slider__controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(100% + 1rem);
  width: 100%;
  
  .btn {
    --size: 3rem;
    
    align-items: center;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 100%;
    display: flex;
    height: var(--size);
    padding: 0;
    width: var(--size);
    
    &:focus {
      outline: none;
    }
        
    &--previous > * {
      transform: rotate(180deg);
    }
  }
}


// =========================
// Slider
// =========================

.slider {
  --slide-size: 70vmin;
  --slide-margin: 4vmin;
  
  height: var(--slide-size);
  margin: 0 auto;
  position: relative;
  width: var(--slide-size);
}

.slider__wrapper {
  display: flex;
  margin: 0 calc(var(--slide-margin) * -1);
  position: absolute;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
}


// =========================
// Slide
// =========================

.slide {
  align-items: center;
  color: $lightColor;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: var(--slide-size);
  justify-content: center;
  margin: 0 var(--slide-margin);
  opacity: 0.25;
  position: relative;
  text-align: center;
  transition: 
    opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
  width: var(--slide-size);
  z-index: 1;
  
  &--previous,
  &--next {    
    &:hover {
      opacity: 0.5;
    }
  }
  
  &--previous {
    cursor: w-resize;
    
    &:hover {
      transform: translateX(2%);
    }
  }
  
  &--next {
    cursor: e-resize;
    
    &:hover {
      transform: translateX(-2%);
    }
  }
}

.slide--current {
  --x: 0;
  --y: 0;
  --d: 50;

  opacity: 1;
  pointer-events: auto;
  user-select: auto;
  
  @media (hover: hover) {
    &:hover .slide__image-wrapper {
      transform: 
        scale(1.025)
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        );
    }    
  }
}

.slide__image-wrapper {
  background-color: var(--color-accent);
  border-radius: 1%;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;  
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
}

.slide__image {
  --d: 20;
  
  height: 110%;
  left: -5%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5%;
  transition:
    opacity var(--base-duration) var(--base-ease),
    transform var(--base-duration) var(--base-ease);
  user-select: none;
  width: 110%;
  
  @media (hover: hover) {
    .slide--current & {      
      transform: 
        translate(
          calc(var(--x) / var(--d) * 1px),
          calc(var(--y) / var(--d) * 1px)
        ); 
    }
  }
}

.slide__headline {
  font-size: 8vmin;
  font-weight: 600;
  position: relative;
  color: $lightColor;
  letter-spacing: .05em;
  mix-blend-mode: overlay;
  text-shadow: 
    2px 2px 0px $darkColor,
    4px 4px 0px $lightColor,
    6px 6px 0px rgba(0, 0, 0, 0.2);
}

.slide__content {
  --d: 60;
  
  opacity: 0;
  padding: 4vmin;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  visibility: hidden;
  
  .slide--current & {
    animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
    visibility: visible;
    
    @media (hover: hover) {
      transform: 
        translate(
          calc(var(--x) / var(--d) * -1px),
          calc(var(--y) / var(--d) * -1px)
        );
    }
  }
  
  > * + * {
    margin-top: 2rem;
  }
}


// =========================
// Animations
// =========================

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}

// Terminal Section
.terminalStyle {
  width: 55vw;
  height: 25em;
  animation-name: blowUp;
  animation-duration: 1000ms;
}

@keyframes blowUp {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.titleBar {
  display: flex;
  justify-content: space-between;
  background-color: #eae8e9;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgba(66, 66, 66, 0.5);
}

.titleBtn {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0.2em;

  &.red {
    background: #fa615c;
    cursor: pointer;
  }

  &.yellow {
    background: #ffbd48;
  }

  &.green {
    background: #3fc950;
  }
}

.titleButton {
  display: flex;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.6em;
}

.titleTitle {
  align-self: center;
  font-family: monospace;
  height: 100%;
}

.titleRemark {
  display: flex;
  padding-right: 0.6em;
  height: 100%;
}

.terminalWindow {
  background-color: rgb(23, 42, 69);
  border-radius: 0 0 5px 5px;
  height: 100%;
  padding: 1.2em 1.5em 1.2em 1.5em;
  line-height: 1.2em;
  flex-direction: column;
  overflow-y: hidden;
  overflow: auto;
}

.terminalWindow::-webkit-scrollbar {
  width: 2px;
}
.terminalWindow::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.terminalWindow::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);; 
}

@media (max-width: 1500px) {
  .terminalStyle {
    width: 60vw;
  }
}

@media (max-width: 1350px) {
  div.Typewriter {
    padding: 0 90px;
  }

  .terminalStyle {
    width: 70vw;
  }
}

@media (max-width: 1200px) {
  div.Typewriter {
    padding: 0 80px;
  }

  .terminalStyle {
    width: 75vw;
  }
}

@media (max-width: 1000px) {
  div.Typewriter {
    padding: 0 70px;
  }

  .terminalStyle {
    width: 80vw;
  }
}

@media (max-width: 900px) {
  div.Typewriter {
    padding: 0 60px;
  }

  .terminalStyle {
    width: 85vw;
  }
}

@media (max-width: 800px) {
  div.Typewriter {
    font-size: 3.5vw;
    padding: 0 50px;
  }

  .terminalStyle {
    width: 90vw;
  }
}


@media (max-width: 600px) {
  div.Typewriter {
    padding: 0 30px;
  }

  .terminalWindow {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  div.Typewriter {
    padding: 0 20px;
  }

  .terminalWindow {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  div.Typewriter {
    padding: 0 20px;
  }

  .titleTitle {
    font-size: 10px;
  }

  .terminalWindow {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  div.Typewriter {
    padding: 0 20px;
  }

  .titleTitle {
    font-size: 10px;
  }

  .terminalWindow {
    font-size: 10px;
  }
}

@media (max-height: 850px) {
  .terminalStyle {
    height: 20em;
  }
}

@media (max-height: 750px) {
  .terminalStyle {
    height: 18em;
  }
}

@media (max-height: 720px) {
  .terminalStyle {
    height: 16em;
  }
}

@media (max-height: 650px) {
  .terminalStyle {
    height: 15em;
  }
}

@media (max-height: 580px) {
  .terminalStyle {
    height: 12em;
  }
}

@media (max-height: 550px) {
  .terminalStyle {
    height: 10em;
  }
}
