$lightColor: #d1dae3;
$darkColor: #091921;
$terminalColor: #083952;
$primary: #52a563;

$backgroundColor: $lightColor;
$foregroundColor: $darkColor;

@media (prefers-color-scheme: dark) {
  $backgroundColor: $darkColor;
  $foregroundColor: $lightColor;
}

%boxshadowdark {
  box-shadow: -5px -5px 10px #061116,
              5px 5px 10px #0c212c;
  transition: box-shadow 650ms ease-in-out;
}

%boxshadowlight {
  box-shadow: 5px 5px 10px #c7cfd8,
              -5px -5px 10px #dbe5ee;
  transition: box-shadow 650ms ease-in-out;
}

%boxshadowUpandDown {
  box-shadow: 5px -5px 12px rgba(0,0,0,0.4),
              -5px 5px 12px rgba(0,0,0,0.4);
  transition: box-shadow 650ms ease-in-out;
}

%hoverboxshadow {
  box-shadow: 
    inset 9px 9px 18px #999999,
    inset -9px -9px 18px #ffffff;
}

html,
body {
  background-color: $backgroundColor;
  color: $foregroundColor;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

nav.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %boxshadowdark;
  z-index: 1;
}

nav.nav-bar h3.title {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

div.banner-terminal {
  background-color: $terminalColor;
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 20px;
  color: $lightColor;
  font-family: consolas, sans-serif;
}

div.Typewriter {
  padding: 0 100px;
}

span.dollar::before {
  content: '$';
  color: $primary;
}

div.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

div.show-case {
  margin-top: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.terminal-icon {
  position: relative;
  background: $darkColor;
  width: 4rem;
  height: 3.5rem;
  z-index: 1;
  border-radius: .5rem;
  overflow: hidden;
  transition: 300ms;
  animation-name: blowUp;
  animation-duration: 300ms;
}

.terminal-icon::before {
  content: '';
  height: 1rem;
  top: 1rem; 
  position: absolute;
  border-right: .4rem solid $lightColor;
  border-bottom: .4rem solid $lightColor;
  width: 1rem;
  transform: rotate(-45deg);
  z-index: 2;
  left: .2rem;
}

.terminal-icon::after {
  content: '';
  background: $lightColor;
  height: .4rem;
  width: 1.5rem;
  z-index: 3;
  position: absolute;
  top: 2.5rem;
  left: 1.8rem;
}

.terminal-icon:hover {
  box-shadow: inset 21px 21px 32px #111111,
              inset -21px -21px 32px #454545
}

div.profile-info {
  position: absolute;
  top: -55px;
  height: 11em;
  width: 11em;
  z-index: 10;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: $lightColor;
  z-index: 11;
  @extend %boxshadowUpandDown;
  animation-name: bondJamesBond;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transition: 500ms;
}

div.profile-image::after {
  content: '';
  height: 95%;
  width: 95%;
  background: url('https://avatars2.githubusercontent.com/u/32976964?s=460&v=4');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
  outline-style: none;
  transition: 300ms ease-in;
  animation-name: rotate;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    border-radius: 50%;
    height: 7em;
    width: 7em;
  }
  90% {
    border-radius: 50%;
    height: 12.5em;
    width: 12.5em;
  }
  100% {
    border-radius: 50%;
    height: 11em;
    width: 11em;
  }
}

div.hover-info {
  top: 0;
  z-index: 11;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  transition: 300ms ease-in;
}

.profile-info:hover .profile-image::after {
  transform: rotateX(90deg);
}

.profile-info:hover .hover-info {
  margin-top: 4em;
  opacity: 1;
}

span.profile-name {
  margin-bottom: .5rem;
  letter-spacing: 2px;
  font-weight: 700;
}

span.profile-job {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 550;
}

.terminalStyle {
  margin-top: 9em;
  width: 55vw;
  height: 25em;
  animation-name: blowUp;
  animation-duration: 1000ms;
}

@keyframes blowUp {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.titleBar {
  display: flex;
  justify-content: space-between;
  background-color: #eae8e9;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgba(66, 66, 66, 0.5);
}

.titleBtn {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0.2em;

  &.red {
    background: #fa615c;
    cursor: pointer;
  }

  &.yellow {
    background: #ffbd48;
  }

  &.green {
    background: #3fc950;
  }
}

.titleButton {
  display: flex;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.6em;
}

.titleTitle {
  align-self: center;
  font-family: monospace;
  height: 100%;
}

.titleRemark {
  display: flex;
  padding-right: 0.6em;
  height: 100%;
}

.terminalWindow {
  background-color: rgb(23, 42, 69);
  border-radius: 0 0 5px 5px;
  height: 100%;
  padding: 1.2em 1.5em 1.2em 1.5em;
  line-height: 1.2em;
  flex-direction: column;
  overflow-y: hidden;
  overflow: auto;
}

.terminalWindow::-webkit-scrollbar {
  width: 2px;
}
.terminalWindow::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.terminalWindow::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);; 
}

@media (max-width: 1500px) {
  .terminalStyle {
    width: 60vw;
  }
}

@media (max-width: 1350px) {
  div.Typewriter {
    padding: 0 90px;
  }

  .terminalStyle {
    width: 70vw;
  }
}

@media (max-width: 1200px) {
  div.Typewriter {
    padding: 0 80px;
  }

  .terminalStyle {
    width: 75vw;
  }
}

@media (max-width: 1000px) {
  div.Typewriter {
    padding: 0 70px;
  }

  .terminalStyle {
    width: 80vw;
  }
}

@media (max-width: 900px) {
  div.Typewriter {
    padding: 0 60px;
  }

  .terminalStyle {
    width: 85vw;
  }
}

@media (max-width: 800px) {
  div.Typewriter {
    padding: 0 50px;
  }

  nav.nav-bar h3.title {
    font-size: 1.1rem;
  }

  .terminalStyle {
    width: 90vw;
  }
}


@media (max-width: 500px) {
  nav.nav-bar h3.title {
    font-size: 1rem;
  }

  div.banner-terminal {
    padding: 30px 10px;
    font-size: .8rem;
  }

  div.Typewriter {
    padding: 0 20px;
  }

  div.profile-info {
    top: -20px;
    height: 8em;
    width: 8em;
  }

  @keyframes bondJamesBond {
    0% {
      transform: translateX(1000px);
    }
    80% {
      transform: translateX(0px);
      border-radius: 50%;
      height: 6em;
      width: 6em;
    }
    90% {
      border-radius: 50%;
      height: 10em;
      width: 10em;
    }
    100% {
      border-radius: 50%;
      height: 8em;
      width: 8em;
    }
  }

  .profile-info:hover .hover-info {
    margin-top: 1.7em;
  }

  .terminalWindow {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  div.banner-terminal {
    padding: 30px 10px;
    font-size: .6rem;
  }

  .titleTitle {
    font-size: 10px;
  }

  .terminalWindow {
    font-size: 10px;
  }
}

@media (max-height: 850px) {
  .terminalStyle {
    height: 20em;
  }
}

@media (max-height: 750px) {
  .terminalStyle {
    height: 18em;
  }
}

@media (max-height: 720px) {
  .terminalStyle {
    height: 16em;
  }
}

@media (max-height: 650px) {
  .terminalStyle {
    height: 15em;
  }
}

@media (max-height: 580px) {
  .terminalStyle {
    height: 12em;
  }
}

@media (max-height: 550px) {
  .terminalStyle {
    height: 10em;
  }
}
