$mainColor: #e1e1e1;
$secondColor: #333;

%boxshadow {
  box-shadow: 
    9px 9px 18px #999999,
    -9px -9px 18px #ffffff;
  transition: box-shadow 650ms ease-in-out;
}

%hoverboxshadow {
  box-shadow: 
    inset 9px 9px 18px #999999,
    inset -9px -9px 18px #ffffff;
}

* {
  margin: 0;
}

html,
body {
  background-color: $mainColor;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  padding: .5rem 1rem;
  border-bottom-left-radius: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  font-size: 70%;
}

.author a,
.author a:visited {
  color: $secondColor;
  text-decoration: none;
  display: block;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.author:hover,
.author:active {
  @extend %hoverboxshadow;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  background-color: #eae8e9;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid rgba(66, 66, 66, 0.5);
}

.titleBtn {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 0.2em;

  &.red {
    background: #fa615c;
    cursor: pointer;
  }

  &.yellow {
    background: #ffbd48;
  }

  &.green {
    background: #3fc950;
  }
}

.titleButton {
  display: flex;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.6em;
}

.titleTitle {
  align-self: center;
  font-family: monospace;
  height: 100%;
}

.titleRemark {
  display: flex;
  padding-right: 0.6em;
  height: 100%;
}

.terminalWindow {
  background-color: rgb(23, 42, 69);
  border-radius: 0 0 5px 5px;
  height: 100%;
  padding: 1.2em 1.5em 1.2em 1.5em;
  line-height: 1.4em;
  flex-direction: column;
  overflow-y: auto;
}

.terminalWindow::-webkit-scrollbar {
  width: 2px;
}
.terminalWindow::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.terminalWindow::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);; 
}

.terminalStyle {
  width: 50em;
  height: 24em;
  animation-name: blowUp;
  animation-duration: .5s;
}

@keyframes blowUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.circleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
  width: 15em;
  background: $mainColor;
  color: $secondColor;
  border-radius: 50%;
  outline-style: none;
  cursor: pointer;
  box-shadow: 3px 3px 7px #999999, -3px -3px 5px #ffffff;
  animation-name: bondJamesBond;
  animation-duration: 2s;
}

@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    border-radius: 7em;
    height: 7em;
    width: 7em;
  }
  90% {
    border-radius: 50%;
    height: 17em;
    width: 17em;
  }
  100% {
    border-radius: 50%;
    height: 15em;
    width: 15em;
  }
}

.circleButton::after {
  content: '';
  height: 95%;
  width: 95%;
  background: url('https://avatars2.githubusercontent.com/u/32976964?s=460&v=4');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  outline-style: none;
}

@media (max-width: 700px) {
  .terminalStyle {
    height: 20em;
    width: 30em;
  }
}
